.film-item {
    .content-film {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.card {
    margin: auto;
    .img {
        position: relative;
        .list-Btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            opacity: 0;
            transition: all 0.5s;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            background-color: rgba(21, 17, 17, 0.562);
            opacity: 0;
            transition: all 0.5s;
        }

        &:hover::before {
            opacity: 1;
        }
        &:hover {
            .list-Btn {
                opacity: 1;
            }
        }
    }
}

// .btn-datVe:hover {
//     color: yellow;
//     border: none;
//     background-color: transparent;
// }
