.slick-dots-bottom {
    margin: 0 !important;
    padding: 0 !important;
}

// .slick-dots li.slick-active button:before {
//     opacity: 0;
//     display: none;
// }

.slick-dots li button:before {
    content: "";
}
