@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
    --selected-color: #2ecc71;
    --occupied-color: #e74c3c;
    --available-color: #fff;
}

* {
    box-sizing: border-box;
}

.Checkout-content {
    font-family: "Lato", sans-serif;
    background-color: #242333;
    color: white;
    position: relative;
    /* height: 100vh; */
    /* overflow: hidden; */
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.container1 {
    perspective: 1000px;
    margin-bottom: 3px;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 75%;
    margin: auto;
    margin-top: 15px;
    /* transform:; */
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);

    transform: rotateX(-45deg);
    margin-bottom: 100px;
}

.seat {
    background-color: #444451;
    height: 35px;
    width: 35px;
    margin: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat-vip {
    background-color: #e74c3c;
    height: 35px;
    width: 35px;
    margin: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.seat-disable {
    background-color: #2ecc71 !important;
    cursor: no-drop !important;
}
.Checkout-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.datGhe {
    grid-column: 1/6;
}
.muaVe {
    grid-column: 6/8;
}

.danhSachGhe {
    text-align: center;
}
