.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    /* opacity: 0.6; */
    color: black;
    z-index: 100;
}

.loading img {
    animation: loadingAni 0.6s infinite;
}
@keyframes loadingAni {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
